body {
    margin: 0;
    font-family: 'Poppins',sans-serif;
}
header {
    height: 70px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.9825px 7.4564px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}
header > img {
    max-width: 100px;
    height: 45px;
}
section {
    padding: 20px;
}
.card-items {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}
.card {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.card--image {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}

.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 3px;
    font-weight: bold;
}